.app {
	margin: 70px;

	font-size: 40px;
	text-align: center;
}

.screen {
	width: 340px;
	background-color: rgb(236, 233, 233);
	font-size: 40px;
	border: 2px solid black;
	border-radius: 10px;
	color: rgb(5, 2, 17);
}

.buttons {
	padding-top: 20px;
	display: flex;
}

.button {
	background: #0b63f6;
	color: #ffffff;
	width: 60px;
	height: 60px;
	margin: 5px;
	font-size: 30px;
	border-radius: 15%;
}

.left {
	width: 240px;
}

.right {
	width: 60px;
	margin-left: 20px;
}

.total {
	color: green;
}
